---
export const blogData = {
	title: 'Test Thoughts Astro Post',
	author: 'David Volz',
	description: `Playing with some shapes and grids.`,
	image: {
		url: 'https://docs.astro.build/assets/arc.webp',
		alt: 'The Astro logo on a dark background with a purple gradient arc.',
	},
	display: true,
	pubDate: '2024-11-21',
	tags: ['css', 'code', 'design', 'fluff'],
	featured: true,
}
---

<layout>
	<h1>{blogData.title}</h1>
	<p>
		<em>By {blogData.author} on {blogData.pubDate}</em>
	</p>
	<img src={blogData.image.url} alt={blogData.image.alt} />
	<p>{blogData.description}</p>

	<div>
		<p>
			After a successful first week learning Astro, I decided to try some more.
			I wrote and imported a small component from memory!
		</p>
	</div>
</layout>
