---
import BaseLayout from '../../layouts/BaseLayout.astro'
import BlogPost from '../../components/BlogPost.astro'
import {
	transformPosts,
	filterPostsByCategory,
	filterFeaturedPosts,
	loadDynamicComponents,
} from '../../scripts/postHelpers'

export async function getStaticPaths() {
	const mdPlay = await Astro.glob('../play/*.md')
	const astroPlay = await Astro.glob('../play/*.astro')
	const mdThoughts = await Astro.glob('../thoughts/*.md')
	const astroThoughts = await Astro.glob('../thoughts/*.astro')

	// Transform posts
	const allPosts = [
		...transformPosts(mdThoughts, 'markdown'),
		...transformPosts(astroThoughts, 'astro'),
		...transformPosts(mdPlay, 'markdown'),
		...transformPosts(astroPlay, 'astro'),
	]
	const uniqueTags = [...new Set(allPosts.map((post) => post.tags).flat())]

	return uniqueTags.map((tag) => {
		const filteredPosts = allPosts.filter(
			(post) => post && post.tags && post.tags.includes(tag)
		)
		return {
			params: { tag },
			props: { posts: filteredPosts },
		}
	})
}

// Use Astro.glob to load posts
const mdPlay = await Astro.glob('../play/*.md')
const astroPlay = await Astro.glob('../play/*.astro')
const mdThoughts = await Astro.glob('../thoughts/*.md')
const astroThoughts = await Astro.glob('../thoughts/*.astro')

// Transform posts
const allPosts = [
	...transformPosts(mdThoughts, 'markdown'),
	...transformPosts(astroThoughts, 'astro'),
	...transformPosts(mdPlay, 'markdown'),
	...transformPosts(astroPlay, 'astro'),
]

// Dynamically load components for posts with `display: true`
const processedPosts = await loadDynamicComponents(allPosts)

// Sort posts by date (most recent first)
const sortedPosts = processedPosts.sort((a, b) => {
	const dateA = new Date(a.date)
	const dateB = new Date(b.date)
	return dateB - dateA // Sort in descending order
})

const { tag } = Astro.params
import '../../styles/global/_recent-items.scss'
---

<BaseLayout pageTitle={`${tag} Articles`}>
	<p>Posts tagged with {tag}</p>
	<ul class="recentItems">
		{
			sortedPosts.map((post) => (
				<BlogPost
					url={post.url}
					title={post.title}
					date={post.date}
					display={post.display}
					description={post.description}
					DynamicComponent={post.DynamicComponent}
				/>
			))
		}
	</ul>
</BaseLayout>
