---
const { title, url, date, display, description, DynamicComponent } = Astro.props
---

<li>
	{
		display === true && DynamicComponent ? (
			<DynamicComponent title={title} url={url} description={description} />
		) : (
			<a class="blogPost" href={url}>
				<div class="frame">
					<p class="title">{title}</p>
				</div>
			</a>
		)
	}
</li>
